/* Daftar Anggota */
.daftar_text{
    position: absolute;
    width: 500px;
    height: 57px;
    left: 361px;
    top: 200px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 37.9px;
    line-height: 57px;
    /* identical to box height */

    color: #1E96FC;
}

.link_masuk{
    position: absolute;
    width: 318px;
    height: 24px;
    left: 86px;
    top: 906px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #FFFFFF;
}


/* Input */
.input-form-daftar{
    position: absolute;
    left: 898px;
    width: 620px;
    top: 183px;
    font-size: 16px;
}

.input-daftar{
    position: absolute;
    left: 215px;
    width: 400px;
    height: 50px;
    background: #EDF4FA;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    text-indent: 1.5em;
}
.input-daftar::placeholder{
    color: #B9BBBD;
}
.input-daftar:focus {
    outline: none !important;
    border:1px solid #9ED1FE;
    box-shadow: 0 0 5px #9ED1FE;
}
.textarea{
    height: 100px;
}

.input-daftar-radio{
    position: absolute;
    left: 105px;
}
.btn-radio{
    height: 40px;
    margin-right: 20px;
}

.field{
    margin-bottom: 25px;
}
.field-status{
    margin-bottom: 50px;
}
.fieldStatusKawin{
    margin-bottom: 10px;
}
#alamat{
    margin-bottom: 50px;
}

.label-daftar{
    margin-top: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #1E96FC;
}

/* Daftar Button */
.daftar-button{
    margin-top: 50px;
    width: 615px;
    height: 64px;
    background: #24CFCB;
    border-radius: 10px;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 32px;
    /* identical to box height */

    color: #FFFFFF;
}

.p-status{
    position: absolute;
    width: 142px;
    height: 24px;
    right: 0;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* identical to box height */

    color: #6C91C2;
}