.sidebar{
    position: absolute;
    width: 211px;
    height: 1056px;
    left: 0px;
    top: 0px;

    background: #098AFB;
}

.headertabel{
    position: absolute;
    width: 179px;
    height: 32px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 32px;
    /* identical to box height */

    color: #1E96FC;
}

.tabel{
    position: absolute;
    width: 1390px;
    height: 332px;
    left: 361px;
    top: 160px;
}
.tabel-head{
    position: absolute;
    width: 1359px;
    height: 244px;
    left: 31px;
    top: 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 100%;
    /* or 21px */

    color: #6C91C2 !important;
}

.tabel2{
    position: absolute;
    width: 1390px;
    height: 332px;
    left: 361px;
    top: 630px;
    margin-bottom: 150px;
}

.btn-edit{
    width: 91px;
    height: 48px;
    border: none;
    background: #9ED1FE;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 32px;
    /* identical to box height */

    color: #EDF4FA;
}
